@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(/core/assets/fonts/OpenSans-Regular.woff2) format('woff2');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/core/assets/fonts/OpenSans-Italic.woff2) format('woff2');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/core/assets/fonts/OpenSans-Bold.woff2) format('woff2');
}

@font-face {
	font-family: 'Monaco';
	src: local('Monaco'), local('Monaco'), url(/core/assets/fonts/Monaco.woff2) format('woff2');
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight:400;
}
pre {
	font-family: 'Monaco', sans-serif;
	font-size: 12px;
	line-height: 14px;
}